body {
    font: arial;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #ff6600;
  }

  #carousel{
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    }
  
    #carousel img{
      max-width: 100%;
      height: auto;
    }
  
    #carousel button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgb(116, 120, 11);
      color: rgb(32, 3, 51);
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 1;
    }
    #carousel #back{
      left: 1px;
    }
  
    #carousel #next{
      right: 10px;
    }