body{
    background-image:url(https://wallpapercave.com/wp/wp2757967.gif) ;

}
#destinos{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.85;
}
.columnas{
    text-align: center;
    margin: 10px 5px;
    padding: 0px 10px;
    border:solid 2px black;
}
#brasil{
    background: lightgreen;
    color: black;
}

#argentina{
background: rgb(158, 236, 236);
}
.imagen-colum{
    max-width: 60%;
    height: auto;      
}
article{
    color: aliceblue;
}
#regresar{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: black;
    color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
}

a:hover {
    padding: 2px;
    border-style: solid;
  }
